/* Theme.css */

.home-page, .bio-page {
  position: relative; /* This ensures stacking context is controlled */
  z-index: 2; /* Ensures this is above particles */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents content from overflowing */
}

.bucket-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0; /* Background color should be the lowest */
  
}
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Example background color */
  z-index: 0; /* Lowest layer (the background color) */
}
.arrow-button-container {
  display: flex;
  justify-content: center;
  position: fixed;   /* Fix position at the bottom of the viewport */
  bottom: 20px;      /* Adjust the distance from the bottom */
  left: 0;
  right: 0;
  z-index: 1000;     /* Ensure it stays on top of other elements */
}

/* Clickable area for the button */
.arrow-click-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;      /* Larger clickable area */
  height: 120px;
  cursor: pointer;
}

/* Lottie animation specific styling */
.arrow-lottie {
  width: 100px;       /* Adjust size of the Lottie animation */
  height: 100px;
  pointer-events: none; /* Ensure clicks are registered on the container */
}
